:root {
  --c1: #f4fdff; /* muy claro */
  --c2: #d5f1fa;
  --c3: #1ea7e1; /* celeste brillante */
  --c4: #236c94;
  --c5: #194c6b;
  --c6: #15384e;
  --c7: #0f273a; /* azul más oscuro */
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #000000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    var(--c5) 54%
  );
  color: var(--c7);
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--c7);
  padding: 15px 30px;
}
/* BOTONES */
.btn {
  background: var(--c2);
  color: var(--c7);
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
  margin: 0 8px;
}

.btn:hover {
  background: var(--c5);
  color: var(--c2);
}

/* LOGO */
.logo img {
  height: 90px;
  width: auto;
}

.search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.search-bar input {
  padding: 0 2rem;
  height: 50px;
  border-radius: 25px;
  border: 1px solid var(--c3);
  outline: none;
  font-family: 'Poppins', sans-serif;
  width: 70%;
}

.search-bar button {
  background: var(--c4);
  border: none;
  padding: 10px 20px;
  margin-left: -50px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  color: var(--c1);
}

.search-bar button:hover {
  background: var(--c2);
  color: var(--c4);
}

.user-actions {
  display: flex;
  /* gap: 12px; */
  align-items: center;
  justify-content: space-evenly;
}

/* .user-actions a {
  padding-right: 10px;
} */

.user-actions button {
  background: var(--c3);
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

/* NAV */
.nav {
  display: flex;
  justify-content: center;
  background: var(--c7);
  padding: 12px;
  gap: 140px;
}

.nav button {
  background: var(--c2);
  border: none;
  padding: 14px 40px;
  border-radius: 1000px;
  cursor: pointer;
  color: var(--c7);
  font-weight: 600;
  transition: 0.3s;
}

.nav button:hover {
  background: var(--c5);
  color: var(--c2);
}

/* .category i {
  left: 0;
} */

/* HERO */
.slider {
  background: var(--c6);
  color: white;
  text-align: center;
  padding: 80px 20px;
  font-size: 1.5rem;
  font-weight: 600;
}

/* PRODUCTOS */
.productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 70px;
  padding: 60px;
}

.card {
  background: white;
  border-radius: 0 0 12px 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 100%;
}

.card-content {
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  height: 20%;
}

.product-info {
  flex: 1;
  text-align: left;
}

.product-info h2 {
  font-size: 1rem;
  line-height: 1rem;
  margin: 0 5px;
  color: #4D4D4D;
}

.product-info p {
  color: black;
  font-size: 0.8rem;
  margin: 5px 5px 0 5px;
}

.product-info h3 {
  font-weight: 600;
  font-size: 0.5rem;
  color: #21415a93;
  margin-top: 0;
}

.product-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10px;
}

.product-actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.product-actions button:hover {
  color: var(--c3);
}

/* FOOTER */
.footer {
  background: var(--c6);
  color: white;
  text-align: center;
  padding: 30px 20px;
  font-size: 0.9rem;
}
.footer a {
  color: var(--c2);
  margin: 0 12px;
  text-decoration: none;
  transition: 0.3s;
}
.footer a:hover {
  color: var(--c3);
}
